/* Zera todas as margens, espaçamentos e força o cálculo correto de tamanho do navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Garante que a estrutura inteira do HTML ocupe 100% da largura e altura da tela */
html, body, #root {
  width: 100%;
  min-height: 100vh;
  background-color: #121212; /* Cor base escura para evitar o fundo branco do navegador */
}